

<ion-content class="content">
  <div class="h-full flex justify-center items-center">

    <div class="flex flex-col gap-5">
      <span class="text-white text-5xl flex font-serif justify-center items-center gap-2 animate-pulse">
        Seeda
        <span><ion-icon name="megaphone-outline" size="large" class="text-red-400"></ion-icon></span>
      </span>

      <!-- spinner -->
      <span class="spinner w-full flex justify-center items-center">
        <ion-spinner name="lines" color="light"></ion-spinner>
      </span>
    </div>


  </div>
</ion-content>
