

<ion-content class="content">
  <div class=" h-[30vh] flex flex-col items-center justify-center gap-4">
    <span class="text-white text-5xl flex font-serif justify-center items-center gap-2 ">
      Seeda
      <span><ion-icon name="megaphone-outline" size="large" class="text-red-400"></ion-icon></span>
    </span>

    <span class="text-2xl text-white">Welcome <span class="text-2xl text-gray-400">Back</span></span>

    
  </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="footer">
      <div class="h-[70vh] flex justify-between bg-gray-900 w-full relative">
        <div class=" h-full w-full bg-white absolute top-0 left-0 ">
          <!-- form -->
           <div class="form py-[72px] flex flex-col gap-6 h-full px-4">
            <div class="">
              <input type="email" name="email" id="email" class="px-4 py-4 border-4 text-xl border-gray-200 rounded-md bg-transparent w-full" placeholder="Email">
             </div>

             <div class="">
              <input type="password" name="email" id="email" class="px-4 py-4 border-4 text-xl border-gray-200 rounded-md bg-transparent w-full" placeholder="password">
             </div>

             <div class=" ">
                <button (click)="login()" class="bg-gray-900 text-white font-semibold text-center rounded-md py-4 px-3 w-full text-xl">Done</button>
                <span class="w-full flex justify-end py-2 text-lg text-gray-900/75 font-bold">Forgot Password?</span>
             </div>

             <div class="mt-8">
              <span class="text-lg text-gray-900/55">Don't have an account? <span class="text-gray-900/75 font-bold cursor-pointer" routerLink="/sign-up">Sign up</span></span>
              </div>
           </div>

           
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>