


<ion-content class="content" [fullscreen]="true">
  <div class="header w-full h-fit px-4 py-4 gap-4 flex flex-col justify-center items-start">
    <span routerLink="/home" class="flex border-l-2 justify-start items-center">
      <ion-icon name="chevron-back-outline" size="medium"  class="text-gray-800"></ion-icon>
      <span class="text-gray-800 text-xl">Home</span>
    </span>
    <div class="flex w-full justify-between">
      <h1 class="text-gray-800 text-2xl font-bold">Alarms</h1>
      <ion-icon name="search-outline" class="text-gray-800"></ion-icon>
    </div>
  <div class="divider border w-full"></div>
  </div>

    <ion-list class="content bg-white flex flex-col gap-4">
      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>

      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>

      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>

      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>

      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>

      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>

      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>


      <ion-item lines="none" class="content">
        <div class="text-gray-800 flex flex-col bg-gray-100 w-full py-2 px-2 rounded-md">
          <span class="text-xl font-bold">John Doe</span>
          <span class="text-base">A thief came to steal at the transformer</span>
        </div>
      </ion-item>
    </ion-list>


</ion-content>
